@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin margin-reset {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
@mixin padding-reset {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
