@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin padding-reset-tb {
  padding-top: 0;
  padding-bottom: 0;
}
@mixin padding-reset-ltrt {
  padding-left: 0;
  padding-right: 0;
}
@mixin margin-reset-tb {
  margin-top: 0;
  margin-bottom: 0;
}
@mixin margin-reset-ltrt {
  margin-left: 0;
  margin-right: 0;
}
@mixin margin-padding {
  margin: 0;
  padding: 0;
}
