//breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
//colors //
$primary-color: #323232;
$secondary-color: #ffffff;
$imageOverlay-color: #80323232;
//need to classify these two last colors//
$color-globalMercury: #e1e1e1;
$color-globalSilver: #afafaf;
