@import "./global-variables";

@mixin hero-mobile {
  .hero {
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
    position: relative;

    &__hero-img {
      width: 100%;
      padding-top: 18.6%;
      padding-bottom: 18.6%;
      background: linear-gradient(
          rgba($primary-color, 0.5),
          rgba($primary-color, 0.5)
        ),
        url("../assets/images/dark-rider-JmVaNyemtN8-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__header {
      @include flex-alignItems(center);
      height: 100%;
      padding-left: 1rem;
    }
    &__title {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
      color: $secondary-color;
      width: 75%;
      @include margin-reset;
    }
  }
}
@mixin hero-tablet {
  .hero {
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
    &__hero-img {
      width: 100%;
      padding: 17.06% 0;
    }
    &__header {
      @include flex-justifyAlign(none, center);
      height: 100%;
      width: 80%;
      padding-left: 1.5rem;
    }
    &__title {
      @include flex-alignItems(center);
      @include fonts(3.75rem, 4.25rem, bold);
      color: $secondary-color;
      width: 95%;
      height: auto;
    }
  }
}
@mixin hero-desktop {
  .hero {
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
    &__hero-img {
      width: 100%;
      padding: 18.475% 0;
    }
    &__header {
      @include flex-alignItems(center);
      height: 100%;
      padding-left: 11.25rem;
    }
    &__title {
      display: flex;
      color: $secondary-color;
      width: 60%;
    }
  }
}
