@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "AvenirNext LT Pro";
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}

@media (min-width: 320px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 5rem;
    padding-top: 3%;
    background: #323232;
    color: #ffffff;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 65%;
    padding-left: 0;
    margin: 0;
    padding-top: 16px;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    font-size: 0.81rem;
    line-height: 1.12rem;
    width: 160px;
  }
  .nav .navbar__items:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding-top: 18.6%;
    padding-bottom: 18.6%;
    background-image: url("../assets/images/dark-rider-JmVaNyemtN8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 1rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 5rem;
    padding-top: 0;
    padding-left: 1.5rem;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 30%;
    padding-top: 0;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.87rem;
    line-height: 1.37rem;
    width: 5rem;
    height: 100%;
    margin-right: 5%;
  }
  .nav .navbar__items:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding: 17.06% 0;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 80%;
    padding-left: 1.5rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.75rem;
    line-height: 4.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    width: 90%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid aqua;
  }
}

@media (min-width: 1440px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 11.25rem;
    margin-right: 3.5rem;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 3.5rem;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 62%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding: 18.475% 0;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 11.25rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: #ffffff;
    width: 75%;
  }
}

@media (min-width: 320px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main__musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__about-musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.37rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .main__the-band {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main__the-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 66%;
  }
  .main__the-members-img {
    width: 100%;
    padding-top: 66%;
    background-image: url("../assets/images/adults-audience-band-concert-167517.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    line-height: 1.12rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 95%;
  }
  .main__quote-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    line-height: 1.12rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
  .main__bio-authors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.82rem;
    line-height: 1.12rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .main__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.82rem;
    line-height: 1.12rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__story--pd-right {
    padding-bottom: 1.5rem;
  }
  .main__galary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .main__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galary-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .main__about-musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
  }
  .main__the-band {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main__the-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 66%;
  }
  .main__the-members-img {
    width: 100%;
    padding-top: 49.19%;
  }
  .main__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    width: 95%;
  }
  .main__quote-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    line-height: 1.12rem;
    font-weight: bold;
  }
  .main__bio-authors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .main__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 0.82rem;
    line-height: 1.12rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__story--pd-right {
    padding-right: 12px;
    padding-bottom: 0;
  }
  .main__story--pd-left {
    padding-left: 12px;
  }
  .main__galary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__galary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .main__photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__galary-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 1.5rem;
    width: 30.435%;
    height: 26%;
  }
}

@media (min-width: 1440px) {
  .main {
    padding-left: 180px;
    padding-right: 180px;
  }
  .main__about-musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .main__the-band {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
  }
  .main__the-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 66%;
  }
  .main__the-members-img {
    width: 100%;
    padding-top: 49.61%;
  }
  .main__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    width: 85%;
  }
  .main__quote-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.37rem;
    font-weight: bold;
  }
  .main__bio {
    width: 880px;
    margin-left: 8%;
    margin-bottom: 3rem;
  }
  .main__bio-authors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .main__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3rem;
  }
  .main__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 47.86%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__story--pd-right {
    padding-right: 1.25rem;
  }
  .main__story--pd-left {
    padding-left: 1.25rem;
  }
  .main__galary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .main__photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__galary-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    width: 31.853%;
    height: 19%;
  }
}

@media (min-width: 320px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #323232;
    color: #ffffff;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bolder;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid yellow;
}

.footer__icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
  border: 1px solid lime;
}

.footer__logo-link {
  display: none;
}

.footer__info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.37rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.812rem;
  line-height: 1.12rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.812rem;
  line-height: 1.12rem;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.812rem;
  line-height: 1.12rem;
}
/*# sourceMappingURL=main.css.map */