@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: "AvenirNext LT Pro";
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}

.nav {
  @include mobile {
    .navbar {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 5rem;
      padding-top: 3%;
      background: $primary-color;
      color: $secondary-color;
      &__logo {
        display: flex;
        align-self: center;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        display: flex;
        justify-content: center;
        height: 65%;
        padding-left: 0;
        margin: 0;
        padding-top: 16px;
      }
      &__items {
        display: flex;
        justify-content: center;
        list-style-type: none;
        font-size: 0.81rem;
        line-height: 1.12rem;
        width: 160px;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid $secondary-color;
        }
      }
    }
    .hero {
      display: flex;
      background-image: url("../assets/images/dark-rider-JmVaNyemtN8-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: $imageOverlay-color;
      width: 100%;
      height: 11.43rem;
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 1rem;
      }
      &__title {
        display: flex;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $secondary-color;
        width: 75%;
      }
    } //mobile-end //
  }
  @include tablet {
    .navbar {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 5rem;
      padding-top: 0;
      padding-left: 1.5rem;
      &__logo {
        display: flex;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;
        padding-top: 0;
      }
      &__items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.87rem;
        line-height: 1.37rem;
        width: 5rem;
        height: 100%;
        margin-right: 5%;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid $secondary-color;
        }
      }
    }
    .hero {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 25rem;
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        width: 80%;
        padding-left: 1.5rem;
      }
      &__title {
        display: flex;
        font-size: 3.75rem;
        line-height: 4.25rem;
        align-items: center;
        color: $secondary-color;
        width: 90%;
        height: 60%;
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid aqua;
      }
    } //tablet-end //
  }
  @include desktop {
    .navbar {
      display: flex;
      width: 100%;
      padding-left: 0;
      &__logo {
        display: flex;
        padding-left: 11.25rem;
        margin-right: 3.5rem;
      }
      &__list {
        display: flex;
        justify-content: flex-start;
      }
      &__items {
        display: flex;
        justify-content: flex-start;
        margin-right: 3.5rem;
      }
    }
    .hero {
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      width: 100%;
      height: 670px;
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 11.25rem;
      }
      &__title {
        display: flex;
        font-size: 3.75rem;
        line-height: 4.25rem;
        color: $secondary-color;
        width: 75%;
      }
    }
  }
}
.main {
  @include mobile {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    &__musicians {
      display: flex;
      flex-direction: column;
    }
    &__about-musicians {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.37rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__band-members {
      display: flex;
      object-fit: contain;
      width: 18rem;
    }
    &__quote {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      width: 95%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__bio {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5rem;
    }
    &__bio-authors {
      display: flex;
      font-size: 0.82rem;
      line-height: 1.12rem;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
    &__articles {
      display: flex;
      flex-direction: column;
    }
    &__story {
      display: flex;
      font-size: 0.82rem;
      line-height: 1.12rem;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      &--accent-pd {
        padding-right: 1.5rem;
      }
    }
    &__galary {
      display: flex;
      flex-direction: column;
    }
    &__galary-header {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__photos {
      display: flex;
      flex-direction: column;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1rem;
      width: 100%;
    } //mobil ends//
  }
  @include tablet {
    // &__musicians {
    //   display: flex;
    //   flex-direction: column;
    // }
    &__about-musicians {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
      // margin-top: 2rem;
      // margin-bottom: 1.5rem;
    }
    &__band-members {
      display: flex;
      justify-content: center;
      object-fit: cover;
      // width: 45rem;
      // height: 22.62rem;
      height: 362px;
      width: 100%;
    }
    &__quote {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      width: 95%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      font-weight: bold;
    }
    &__bio-authors {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__articles {
      display: flex;
      flex-direction: row;
      font-size: 0.82rem;
      line-height: 1.12rem;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      &--left {
        padding-bottom: 1.5rem;
      }
    }

    &__galary {
      display: flex;
      flex-direction: column;
    }
    &__galary-header {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__photos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1.5rem;
      width: 30.435%;
      height: 26%;
    }
  }
  @include desktop {
    padding-left: 180px;
    padding-right: 180px;
    &__about-musicians {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &__the-band {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 8%;
      padding-right: 8%;
    }
    &__band-members {
      display: flex;
      justify-content: center;
      object-fit: cover;
      width: 100%;
      height: 28.125rem;
    }
    &__quote {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      width: 85%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.37rem;
      font-weight: bold;
    }
    &__bio {
      width: 880px;
      margin-left: 8%;
      margin-bottom: 3rem;
      border: 1px solid black;
    }
    &__bio-authors {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__articles {
      display: flex;
      flex-direction: row;
      margin-bottom: 3rem;
    }
    &__story {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.375rem;
      width: 47.86%;
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid crimson;
      &--pd-right {
        padding-right: 1.25rem;
      }
      &--pd-left {
        padding-left: 1.25rem;
      }
    }
    &__galary-header {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    &__photos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      width: 31.853%;
      height: 19%;
    }
  }
}
