@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

html {
  font-size: 16px;
}
body {
  font-family: "AvenirNext LT Pro";
  background: lightslategrey;

  h1 {
    color: lightcyan;
    font-weight: bold;
  }
  h2 {
    color: lightpink;
    font-weight: normal;
  }
  p {
    color: whitesmoke;
    font-weight: normal;
  }
}
