@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "AvenirNext LT Pro";
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}

@media (min-width: 320px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 5rem;
    padding-top: 3%;
    background: #323232;
    color: #ffffff;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 65%;
    padding-left: 0;
    margin: 0;
    padding-top: 16px;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    font-size: 0.81rem;
    line-height: 1.12rem;
    width: 160px;
  }
  .nav .navbar__items:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../assets/images/dark-rider-JmVaNyemtN8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #80323232;
    width: 100%;
    height: 11.43rem;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 1rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 5rem;
    padding-top: 0;
    padding-left: 1.5rem;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 30%;
    padding-top: 0;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.87rem;
    line-height: 1.37rem;
    width: 5rem;
    height: 100%;
    margin-right: 5%;
  }
  .nav .navbar__items:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
  }
  .nav .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 80%;
    padding-left: 1.5rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    width: 65%;
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 11.25rem;
    margin-right: 3.5rem;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 3.5rem;
  }
  .nav .hero {
    width: 100%;
    height: 670px;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 11.25rem;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: #ffffff;
    width: 75%;
  }
}

@media (min-width: 320px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px dashed crimson;
  }
  .main__musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__about-musicians {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 24px;
    border: 1px solid aqua;
  }
  .main__band-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    width: 18rem;
  }
  .main__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .main__quote-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */