@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: "AvenirNext LT Pro";
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}

.nav {
  @include mobile {
    .navbar {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 5rem;
      padding-top: 3%;
      background: $primary-color;
      color: $secondary-color;
      &__logo {
        display: flex;
        align-self: center;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        display: flex;
        justify-content: center;
        height: 65%;
        padding-left: 0;
        margin: 0;
        padding-top: 16px;
      }
      &__items {
        display: flex;
        justify-content: center;
        list-style-type: none;
        font-size: 0.81rem;
        line-height: 1.12rem;
        width: 160px;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid $secondary-color;
        }
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 62%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding-top: 18.6%;
        padding-bottom: 18.6%;
        background-image: url("../assets/images/dark-rider-JmVaNyemtN8-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 1rem;
      }
      &__title {
        display: flex;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $secondary-color;
        width: 75%;
        margin-top: 0;
        margin-bottom: 0;
      }
    } //mobile-end //
  }
  @include tablet {
    .navbar {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 5rem;
      padding-top: 0;
      padding-left: 1.5rem;
      &__logo {
        display: flex;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;
        padding-top: 0;
      }
      &__items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.87rem;
        line-height: 1.37rem;
        width: 5rem;
        height: 100%;
        margin-right: 5%;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid $secondary-color;
        }
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 62%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding: 17.06% 0;
      }
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        width: 80%;
        padding-left: 1.5rem;
      }
      &__title {
        display: flex;
        font-size: 3.75rem;
        line-height: 4.25rem;
        align-items: center;
        color: $secondary-color;
        width: 90%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    } //tablet-end //
  }
  @include desktop {
    .navbar {
      display: flex;
      width: 100%;
      padding-left: 0;
      &__logo {
        display: flex;
        padding-left: 11.25rem;
        margin-right: 3.5rem;
      }
      &__list {
        display: flex;
        justify-content: flex-start;
      }
      &__items {
        display: flex;
        justify-content: flex-start;
        margin-right: 3.5rem;
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 62%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding: 18.475% 0;
      }
      &__header {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 11.25rem;
      }
      &__title {
        display: flex;
        font-size: 3.75rem;
        line-height: 4.25rem;
        color: $secondary-color;
        width: 75%;
      }
    }
  }
}
.main {
  @include mobile {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    &__musicians {
      display: flex;
      flex-direction: column;
    }
    &__about-musicians {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.37rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__the-band {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
      // margin: 0 auto;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 66%;
      background-image: url("../assets/images/adults-audience-band-concert-167517.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__quote {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      width: 95%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__bio {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5rem;
    }
    &__bio-authors {
      display: flex;
      font-size: 0.82rem;
      line-height: 1.12rem;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
    &__articles {
      display: flex;
      flex-direction: column;
    }
    &__story {
      display: flex;
      font-size: 0.82rem;
      line-height: 1.12rem;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      &--pd-right {
        padding-bottom: 1.5rem;
      }
    }
    &__galary {
      display: flex;
      flex-direction: column;
    }
    &__galary-header {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__photos {
      display: flex;
      flex-direction: column;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1rem;
      width: 100%;
    } //mobil ends//
  }
  @include tablet {
    // &__musicians {
    //   display: flex;
    //   flex-direction: column;
    // }
    &__about-musicians {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
    }
    &__the-band {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
      // margin: 0 auto;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 49.19%;
    }
    &__quote {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      width: 95%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.75rem;
      line-height: 1.12rem;
      font-weight: bold;
    }
    // &__bio {
    //   width: 880px;
    //   margin-left: 8%;
    //   margin-bottom: 3rem;
    // }
    &__bio-authors {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__articles {
      display: flex;
      flex-direction: row;
    }
    &__story {
      display: flex;
      flex-direction: row;
      font-size: 0.82rem;
      line-height: 1.12rem;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      &--pd-right {
        padding-right: 12px;
        padding-bottom: 0;
      }
      &--pd-left {
        padding-left: 12px;
      }
    }
    &__galary {
      display: flex;
      flex-direction: column;
    }
    &__galary-header {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__photos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1.5rem;
      width: 30.435%;
      height: 26%;
    }
  }
  @include desktop {
    padding-left: 180px;
    padding-right: 180px;
    &__about-musicians {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &__the-band {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 8%;
      padding-right: 8%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
      // margin: 0 auto;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 49.61%;
    }
    &__quote {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      width: 85%;
    }
    &__quote-author {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.37rem;
      font-weight: bold;
    }
    &__bio {
      width: 880px;
      margin-left: 8%;
      margin-bottom: 3rem;
    }
    &__bio-authors {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__articles {
      display: flex;
      flex-direction: row;
      margin-bottom: 3rem;
    }
    &__story {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.375rem;
      width: 47.86%;
      margin-top: 0;
      margin-bottom: 0;
      &--pd-right {
        padding-right: 1.25rem;
      }
      &--pd-left {
        padding-left: 1.25rem;
      }
    }
    &__galary-header {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    &__photos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      width: 31.853%;
      height: 19%;
    }
  }
}
.footer {
  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    &__info {
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 100%;
    }
    &__info-content {
      display: flex;
      flex-direction: column;
    }
    &__header {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bolder;
    }
    &__icons {
      display: flex;
      width: 100%;
      margin-bottom: 8%;
    }
    &__icon-img {
      display: flex;

      margin-right: 10%;
    }
    &__logo-link {
      display: none;
    }
    &__info-contact {
      display: flex;
    }
    &__details {
      display: flex;
      flex-direction: column;
      margin-bottom: 8%;
    }
    &__name {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.37rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__company {
      display: flex;
      font-size: 0.812rem;
      line-height: 1.12rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__address-cont {
      display: flex;
      flex-direction: column;
      margin-top: 7%;
      margin-bottom: 7%;
    }
    &__address {
      display: flex;
      font-size: 0.812rem;
      line-height: 1.12rem;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__email {
      display: flex;
      font-size: 0.812rem;
      line-height: 1.12rem;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__copyright {
      display: flex;
      font-size: 0.812rem;
      line-height: 1.12rem;
      width: 70%;
      padding-left: 5%;
      margin-top: 0%;
      padding-bottom: 5%;
    }
  }
  @include tablet {
    display: flex;
    padding-top: 5%;
    // &__info {
    //   display: flex;
    //   flex-direction: column;
    // }
    &__info-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    &__header {
      display: flex;
      font-size: 36px;
      line-height: 44px;
      width: 30%;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__icons {
      display: flex;
      justify-content: space-evenly;
      width: 30%;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__icon-img {
      display: flex;
      margin-right: 0%;
    }
    &__logo-link {
      display: flex;
      justify-content: flex-end;
      width: 30%;
    }
    &__details {
      display: flex;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-bottom: 0;
    }
    &__name {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__company {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__address {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__email {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: 0%;
      margin-bottom: 0;
    }
    &__copyright {
      display: flex;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 70%;
      padding-left: 2%;
      margin-top: 0%;
      padding-bottom: 5%;
    }
  }
  @include desktop {
    margin-top: 3rem;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    &__info {
      padding-left: 0;
      padding-right: 0;
    }
    &__info-content {
      display: flex;
      justify-content: start;
      width: 100%;
    }
    &__header {
      width: 25%;
    }
    &__icons {
      display: flex;
      width: 25%;
      justify-content: start;
    }
    &__icon-img {
      margin-right: 32px;
    }
    &__logo-link {
      width: 50%;
      align-items: center;
      justify-content: flex-end;
    }
    &__logo {
      width: 120px;
      height: 24px;
    }
    &__details {
      display: flex;
      width: 25%;
      justify-content: none;
    }
    &__address-cont {
      margin-top: 7%;
      margin-bottom: 7%;
    }
    &__copyright {
      padding-left: 0;
    }
  }
}
