html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 16px;
  font-family: "Linotype";
  scroll-behavior: smooth;
  width: 100%;
}

@media (min-width: 320px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 5rem;
    padding-top: 3%;
    background: #323232;
    color: #ffffff;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 65%;
    padding-left: 0;
    margin: 0;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10rem;
  }
  .nav .navbar__items-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: normal;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5rem;
    height: 100%;
  }
  .nav .navbar__items-link:hover {
    cursor: pointer;
    color: #e34061;
    border-bottom: 3px solid #ffffff;
  }
  .nav .navbar__items-link:active {
    color: #ee5271;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding-bottom: 30%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("../assets/images/rocco-caruso-h4jXGhm8wuA-unsplash.jpg");
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/rocco-caruso-h4jXGhm8wuA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .hero__headerIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .nav .hero__womenAlbum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    padding-bottom: 1rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: none;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: #ffffff;
    width: 72%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .nav .hero__musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6rem;
    width: 18rem;
  }
  .nav .hero__iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6rem;
    width: 18rem;
  }
}

@media (min-width: 768px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 5rem;
    padding-top: 0;
    padding-left: 1.5rem;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 40%;
    padding-top: 0;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5rem;
    height: 100%;
  }
  .nav .navbar__items-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding-bottom: 10%;
  }
  .nav .hero__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 80%;
    padding-left: 1.5rem;
  }
  .nav .hero__headerIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6rem;
    width: 100%;
  }
  .nav .hero__womenAlbum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    height: auto;
  }
  .nav .hero__musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1.5rem;
    width: 60%;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0;
  }
  .nav .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 11.25rem;
    margin-right: 3.5rem;
  }
  .nav .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 3.5rem;
  }
  .nav .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .nav .hero__hero-img {
    width: 100%;
    padding-bottom: 10%;
  }
  .nav .hero__headerIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .nav .hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
  }
  .nav .hero__womenAlbum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    padding-top: 10rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .nav .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    width: 95%;
  }
  .nav .hero__musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1.5rem;
    width: 71%;
    height: 25%;
    margin-left: 0;
    margin-top: 18em;
  }
}

@media (min-width: 320px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
  .main__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .main__tabDesk {
    display: none;
  }
  .main__shows-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #afafaf;
  }
  .main__tourEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__dateHeaders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 0.8125rem;
    list-style: 1.125rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    color: #afafaf;
  }
  .main__eventHeaders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.8125rem;
    list-style: 1.125rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #afafaf;
  }
  .main__eventDates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 0.8125rem;
    list-style: 1.125rem;
    font-weight: bold;
  }
  .main__eventDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.8125rem;
    list-style: 1.125rem;
    margin: 0;
  }
  .main__buttonDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .main__btn-ticket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    background-color: #323232;
    border: 0;
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
  }
}

@media (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .main__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
  .main__shows-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
  }
  .main__tabDesk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    font-size: 0.875rem;
    list-style: 1.375rem;
    color: #afafaf;
    padding-right: 9rem;
  }
  .main__tabDesk-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.5%;
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
  }
  .main__tourEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 78%;
  }
  .main__dateHeaders {
    display: none;
  }
  .main__eventHeaders {
    display: none;
  }
  .main__eventDates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 33.5%;
    font-size: 0.875rem;
    list-style: 1.375rem;
    font-weight: bold;
  }
  .main__eventDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    list-style: 1.375rem;
    margin: 0;
    width: 33.5%;
  }
  .main__buttonDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 22%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main__btn-ticket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ffffff;
    background-color: #323232;
    border: 0;
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
  }
}

@media (min-width: 1440px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    padding-top: 2.5rem;
  }
  .main__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .main__showsActivities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__tabDesk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50.25rem;
    padding-right: 10rem;
  }
  .main__tabDesk-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.5%;
    margin: 0;
    font-size: 0.875rem;
    list-style: 1.375rem;
    color: #afafaf;
  }
  .main__tourEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40.25rem;
  }
}

@media (min-width: 320px) {
  .footer {
    padding-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #323232;
    color: #ffffff;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }
  .footer__info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .footer__icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
  }
  .footer__logoDiv {
    display: none;
  }
  .footer__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8%;
  }
  .footer__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__address-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    cursor: pointer;
  }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: normal;
    width: 70%;
    padding-left: 5%;
    margin-top: 0%;
    padding-bottom: 5%;
  }
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5%;
  }
  .footer__info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 30%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__icon-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0%;
  }
  .footer__logoDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30%;
    padding-right: 0.5rem;
  }
  .footer__logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-direction;
        -ms-flex-pack: flex-direction;
            justify-content: flex-direction;
  }
  .footer__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }
  .footer__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  .footer__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: normal;
  }
  .footer__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: normal;
  }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: normal;
    width: 70%;
    padding-left: 2%;
    margin-top: 0%;
    padding-bottom: 5%;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
  }
  .footer__info {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
  }
  .footer__header {
    width: 25%;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 25%;
  }
  .footer__icon-img {
    margin-right: 32px;
  }
  .footer__logoDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
    padding-right: 0;
  }
  .footer__logo-link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    width: 120px;
    height: 24px;
  }
  .footer__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 25%;
  }
  .footer__address-cont {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .footer__copyright {
    padding-left: 0;
  }
}
/*# sourceMappingURL=shows.css.map */