@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

body {
  font-size: 16px;
  font-family: "Linotype";
  scroll-behavior: smooth;
  width: 100%;
}

.nav {
  @include mobile {
    .navbar {
      @include flexDirection(column);
      width: 100%;
      height: 5rem;
      padding-top: 3%;
      background: $primary-color;
      color: $secondary-color;
      &__logo {
        display: flex;
        align-self: center;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        @include flex-justify(center);
        height: 65%;
        padding-left: 0;
        margin: 0;
      }
      &__items {
        @include flex-justify(center);
        width: 10rem;
      }
      &__items-link {
        display: flex;
        @include aTags-stns;
        @include fonts(0.81rem, 1.12rem, normal);
        @include flex-justify(center);
        align-items: center;
        width: 5rem;
        height: 100%;
        &:hover {
          cursor: pointer;
          color: $color-hoverItems;
          border-bottom: 3px solid $secondary-color;
        }
        &:active {
          color: $color-active;
        }
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding-bottom: 30%;
        background: linear-gradient(
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.5)
          ),
          url("../assets/images/rocco-caruso-h4jXGhm8wuA-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      &__header {
        @include flexDirection(column);
      }
      &__headerIntro {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
      &__womenAlbum {
        display: flex;
        color: $secondary-color;
        padding-bottom: 1rem;
        @include fonts(0.8125rem, 1.125rem, none);
      }
      &__title {
        display: flex;
        @include fonts(1.5rem, 2rem, bold);
        color: $secondary-color;
        width: 72%;
        @include margin-reset;
      }
      &__musicPlayer {
        display: flex;
        height: 6rem;
        width: 18rem;
      }
      &__iframe {
        display: flex;
        height: 6rem;
        width: 18rem;
      }
    }
  }
  @include tablet {
    .navbar {
      @include flexDirection(row);
      width: 100%;
      height: 5rem;
      padding-top: 0;
      padding-left: 1.5rem;
      &__logo {
        display: flex;
      }
      &__logo-img {
        display: flex;
      }
      &__list {
        justify-content: space-around;
        height: 100%;
        width: 40%;
        padding-top: 0;
      }
      &__items {
        display: flex;
        width: 5rem;
        height: 100%;
      }
      &__items-link {
        display: flex;
        @include aTags-stns;
        @include fonts(0.875rem, 1.375rem, normal);
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding-bottom: 10%;
      }
      &__header {
        flex-direction: column;
        display: flex;
        height: 100%;
        width: 80%;
        padding-left: 1.5rem;
      }
      &__headerIntro {
        display: flex;
        margin-top: 6rem;
        width: 100%;
      }
      &__womenAlbum {
        display: flex;
        color: $secondary-color;
        padding-bottom: 1rem;
        @include fonts(1rem, 1.5rem, bold);
      }
      &__title {
        @include flex-alignItems(center);
        @include fonts(3.75rem, 4.25rem, bold);
        color: $secondary-color;
        width: 100%;
        height: auto;
      }
      &__musicPlayer {
        display: flex;
        justify-content: flex-start;
        margin-left: 1.5rem;
        width: 60%;
        margin-left: 0;
      }
    }
  }
  @include desktop {
    .navbar {
      display: flex;
      width: 100%;
      padding-left: 0;
      &__logo {
        display: flex;
        padding-left: 11.25rem;
        margin-right: 3.5rem;
      }
      &__list {
        @include flex-justify(flex-start);
      }
      &__items {
        @include flex-justify(flex-start);
        margin-right: 3.5rem;
      }
    }
    .hero {
      display: flex;
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      &__hero-img {
        width: 100%;
        padding-bottom: 18%;
      }
      &__headerIntro {
        display: flex;
        width: 100%;
      }
      &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 11.25rem;
        padding-right: 11.25rem;
      }
      &__womenAlbum {
        display: flex;
        color: $secondary-color;
        padding-top: 10rem;
        padding-bottom: 3rem;
        @include fonts(1.5rem, 2rem, bold);
      }
      &__title {
        display: flex;
        color: $secondary-color;
        width: 95%;
      }
      &__musicPlayer {
        display: flex;
        justify-content: flex-start;
        margin-left: 1.5rem;
        width: 71%;
        height: 25%;
        margin-left: 0;
        margin-top: 18em;
      }
    }
  }
}
.main {
  @include mobile {
    @include flexDirection(column);
    width: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    &__shows {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
    }
    &__header {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1.25rem;
    }
    &__title {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__tabDesk {
      display: none;
    }
    &__shows-info {
      @include flexDirection(column);
      border-bottom: 1px solid $color-silver;
    }
    &__tourEvents {
      @include flexDirection(column);
    }
    &__dateHeaders {
      display: flex;
      margin: 0;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
      color: $color-silver;
    }
    &__eventHeaders {
      display: flex;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: $color-silver;
    }
    &__eventDates {
      display: flex;
      margin: 0;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      font-weight: bold;
    }
    &__eventDetails {
      display: flex;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      margin: 0;
    }
    &__buttonDiv {
      display: flex;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    &__btn-ticket {
      @include flex-justifyAlign(center, center);
      color: $secondary-color;
      background-color: $primary-color;
      border: 0;
      width: 100%;
      height: 3rem;
      border-radius: 0.25rem;
    }
  }
  @include tablet {
    display: flex;
    width: 100;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &__shows {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
    }
    &__shows-info {
      @include flex-justify(space-between);
      flex-direction: row;
      height: 5rem;
    }
    &__tabDesk {
      @include flexDirection(row);
      width: 100%;
      font-size: 0.875rem;
      list-style: 1.375rem;
      color: $color-silver;
      padding-right: 9rem;
    }
    &__tabDesk-para {
      display: flex;
      width: 33.5%;
    }
    &__title {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
    }
    &__tourEvents {
      @include flexDirection(row);
      align-items: center;
      width: 78%;
    }
    &__dateHeaders {
      display: none;
    }
    &__eventHeaders {
      display: none;
    }
    &__eventDates {
      display: flex;
      margin: 0;
      width: 33.5%;
      font-size: 0.875rem;
      list-style: 1.375rem;
      font-weight: bold;
    }
    &__eventDetails {
      display: flex;
      font-size: 0.875rem;
      list-style: 1.375rem;
      margin: 0;
      width: 33.5%;
    }
    &__buttonDiv {
      @include flex-alignItems(center);
      width: 22%;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__btn-ticket {
      @include flex-justify(center);
      color: $secondary-color;
      background-color: $primary-color;
      border: 0;
      width: 100%;
      height: 3rem;
      border-radius: 0.25rem;
    }
  }
  @include desktop {
    @include flexDirection(row);
    justify-content: space-between;
    width: 100;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    padding-top: 2.5rem;
    &__header {
      display: flex;
      margin: 0;
    }
    &__showsActivities {
      @include flexDirection(column);
    }
    &__tabDesk {
      @include flexDirection(row);
      width: 50.25rem;
      padding-right: 10rem;
    }
    &__tabDesk-para {
      display: flex;
      width: 33.5%;
      margin: 0;
      font-size: 0.875rem;
      list-style: 1.375rem;
      color: $color-silver;
    }
    &__tourEvents {
      @include flexDirection(row);
      align-items: center;
      width: 40.25rem;
    }
  }
}

.footer {
  @include mobile {
    padding-top: 10%;
    @include flexDirection(column);
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    &__info {
      @include flexDirection(column);
      padding-right: 1rem;
      padding-left: 1rem;
      width: 100%;
    }
    &__info-content {
      @include flexDirection(column);
    }
    &__header {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
    }
    &__icons {
      display: flex;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 10%;
    }
    &__icon-img {
      display: flex;
      margin-right: 10%;
    }
    &__logoDiv {
      display: none;
    }
    &__details {
      @include flexDirection(column);
      margin-bottom: 8%;
    }
    @include details-contents-mobile;

    &__copyright {
      display: flex;
      @include fonts(0.81rem, 1.12rem, normal);
      width: 70%;
      padding-left: 5%;
      margin-top: 0%;
      padding-bottom: 5%;
    }
  }
  @include tablet {
    display: flex;
    padding-top: 5%;
    &__info-content {
      @include flexDirection(row);
      justify-content: space-between;
      width: 100%;
    }
    &__header {
      display: flex;
      @include fonts(2.25rem, 2.75rem, bold);
      width: 30%;
      @include margin-reset;
    }
    &__icons {
      @include flex-justify(space-evenly);
      width: 30%;
      @include padding-reset;
      @include margin-reset;
    }
    &__icon-img {
      display: flex;
      margin-right: 0%;
    }
    &__logoDiv {
      display: flex;
      justify-content: flex-end;
      width: 30%;
      padding-right: 0.5rem;
    }
    &__logo-link {
      @include flex-justify(flex-direction);
    }
    &__details {
      display: flex;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-bottom: 0;
    }
    @include details-contents-tablet;

    &__copyright {
      display: flex;
      @include fonts(0.875rem, 1.25rem, normal);
      width: 70%;
      padding-left: 2%;
      margin-top: 0%;
      padding-bottom: 5%;
    }
  }
  @include desktop {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    &__info {
      @include padding-reset;
    }
    &__info-content {
      @include flex-justify(start);
      width: 100%;
    }
    &__header {
      width: 25%;
    }
    &__icons {
      @include flex-justify(start);
      width: 25%;
    }
    &__icon-img {
      margin-right: 32px;
    }
    &__logoDiv {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      padding-right: 0;
    }
    &__logo-link {
      // width: 50%;
      justify-content: flex-end;
      align-items: center;
    }
    &__logo {
      width: 120px;
      height: 24px;
    }
    &__details {
      @include flex-justify(none);
      width: 25%;
    }
    &__address-cont {
      margin-top: 7%;
      margin-bottom: 7%;
    }
    &__copyright {
      padding-left: 0;
    }
  }
}
