//breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
//colors //
$primary-color: #323232;
$secondary-color: #ffffff;
$color-overlay: rgba(50, 50, 50, 0.3);
$color-hoverItems: #e34061;
$color-mercury: #e1e1e1;
$color-silver: #afafaf;
$color-alabaster: #fafafa;
