@import "./partials/global-resets";
@import "./partials/global-variables";
@import "./partials/global-mixins";
@import "./partials/fonts";
@import "./partials/navbar";
@import "./partials/bio-hero";
@import "./partials/bio-conversation";
@import "./partials/bio-dom";
@import "./partials/footer";

//=====================================================
.nav {
  @include mobile {
    @include navbar-mobile;
    @include hero-mobile;
  }
  @include tablet {
    @include navbar-tablet;
    @include hero-tablet;
  }
  @include desktop {
    @include navbar-desktop;
    @include hero-desktop;
  }
}

.main {
  @include mobile {
    @include flexDirection(column);
    padding-left: 1rem;
    padding-right: 1rem;
    &__musicians {
      @include flexDirection(column);
    }
    &__about-musicians {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__the-band {
      @include flexDirection(column);
      width: 100%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 66%;
      background-image: url("../assets/images/vaishnav-chogale-sJHHlLFVPoc-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
      &:hover {
        cursor: pointer;
        filter: grayscale(0%);
      }
    }
    &__quote {
      display: flex;
      @include fonts(0.875rem, 1.37rem, bold);
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      width: 90%;
    }
    &__quote-author {
      display: flex;
      @include fonts(0.875rem, 1.37rem, bold);
      @include margin-reset;
    }
    &__bio {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
    }
    &__bio-authors {
      display: flex;
      @include fonts(0.875rem, 1.37rem, bold);
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
    &__articles {
      @include flexDirection(column);
    }
    &__story {
      display: flex;
      @include fonts(0.81rem, 1.12rem, normal);
      width: 100%;
      @include margin-reset;
      &--pd-right {
        padding-bottom: 1.5rem;
      }
    }
    &__galary {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
      background-color: $color-alabaster;
    }
    &__galary-header {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
    &__photos {
      @include flexDirection(column);
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1rem;
      width: 100%;
      filter: grayscale(100%);
      &:hover {
        cursor: pointer;
        filter: grayscale(0%);
      }
    }
    //Join the conversation section - mobile//
    @include conversation-mobile;
    // ==== DOM API section  ====  //
    @include dom-api-mobile;
  }

  @include tablet {
    &__about-musicians {
      display: flex;
      @include fonts(2.25rem, 2.75rem, bold);
    }
    &__the-band {
      @include flexDirection(column);
      width: 100%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
      margin: 0 auto;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 49.19%;
    }
    &__quote {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
      width: 95%;
    }
    &__quote-author {
      display: flex;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &__bio-authors {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
    }
    &__articles {
      @include flexDirection(row);
    }
    &__story {
      @include flexDirection(row);
      @include fonts(0.875rem, 1.375rem, normal);
      width: 100%;
      &--pd-right {
        padding-right: 12px;
        padding-bottom: 0;
      }
      &--pd-left {
        padding-left: 12px;
      }
    }
    &__galary {
      @include flexDirection(column);
    }
    &__galary-header {
      display: flex;
      @include fonts(2.25rem, 2.75rem, bold);
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    &__photos {
      @include flexwrap-rowJustify;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      margin-bottom: 1.5rem;
      width: 30.435%;
      height: 26%;
    }
    //Join the conversation section - tablet  ==========//
    @include conversation-tablet;
    // ==== DOM API section  ====  //
    @include dom-api-tablet;
  }

  @include desktop {
    padding-left: 180px;
    padding-right: 180px;
    &__about-musicians {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &__the-band {
      @include flexDirection(column);
      width: 100%;
      padding-left: 8%;
      padding-right: 8%;
    }
    &__the-members {
      display: flex;
      width: 100%;
      height: 66%;
    }
    &__the-members-img {
      width: 100%;
      padding-top: 49.61%;
    }
    &__quote {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      width: 85%;
    }
    &__quote-author {
      display: flex;
      @include fonts(0.875rem, 1.37rem, bold);
    }
    &__bio {
      width: 880px;
      margin-left: 8%;
      margin-bottom: 3rem;
    }
    &__bio-authors {
      display: flex;
      @include fonts(1.5rem, 2rem, bold);
    }
    &__articles {
      @include flexDirection(row);
      margin-bottom: 3rem;
    }
    &__story {
      display: flex;
      @include fonts(0.875rem, 1.37rem, normal);
      width: 47.86%;
      &--pd-right {
        padding-right: 1.25rem;
      }
      &--pd-left {
        padding-left: 1.25rem;
      }
    }
    &__galary-header {
      display: flex;
      @include fonts(2.25rem, 2.75rem, bold);
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    &__galary-img {
      display: flex;
      object-fit: contain;
      width: 31.853%;
      height: 19%;
    }
    //Join the conversation section - desktop  ==========//
    @include conversation-desktop;
    // ==== DOM API section  ====  //
    @include dom-api-desktop;
  }
}
