@import "./partials/reset";
@import "./partials/global-variables";
@import "./partials/global-mixins";
@import "./partials/fonts";
@import "./partials/navbar";
@import "./partials/shows-hero";
@import "./partials/footer";

//===========================================================
.nav {
  @include mobile {
    @include navbar-mobile;
    @include hero-shows-mobile;
  }
  @include tablet {
    @include navbar-tablet;
    @include hero-shows-tablet;
  }
  @include desktop {
    @include navbar-desktop;
    @include hero-shows-desktop;
  }
}

.main {
  @include mobile {
    @include flexDirection(column);
    width: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    &__shows {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
    }
    &__header {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1.25rem;
    }
    &__title {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
    &__tabDesk {
      display: none;
    }
    &__shows-info {
      @include flexDirection(column);
      border-bottom: 1px solid $color-silver;
    }
    &__tourEvents {
      @include flexDirection(column);
    }
    &__dateHeaders {
      display: flex;
      margin: 0;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
      color: $color-silver;
    }
    &__eventHeaders {
      display: flex;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: $color-silver;
    }
    &__eventDates {
      display: flex;
      margin: 0;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      font-weight: bold;
    }
    &__eventDetails {
      display: flex;
      font-size: 0.8125rem;
      list-style: 1.125rem;
      margin: 0;
    }
    &__buttonDiv {
      display: flex;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    &__btn-ticket {
      @include flex-justifyAlign(center, center);
      color: $secondary-color;
      background-color: $primary-color;
      border: 0;
      width: 100%;
      height: 3rem;
      border-radius: 0.25rem;
    }
  }
  @include tablet {
    display: flex;
    width: 100;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &__shows {
      @include flexDirection(column);
      margin-bottom: 2.5rem;
    }
    &__shows-info {
      @include flex-justify(space-between);
      flex-direction: row;
      height: 5rem;
    }
    &__tabDesk {
      @include flexDirection(row);
      width: 100%;
      font-size: 0.875rem;
      list-style: 1.375rem;
      color: $color-silver;
      padding-right: 9rem;
    }
    &__tabDesk-para {
      display: flex;
      width: 33.5%;
    }
    &__title {
      display: flex;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: bold;
    }
    &__tourEvents {
      @include flexDirection(row);
      align-items: center;
      width: 78%;
    }
    &__dateHeaders {
      display: none;
    }
    &__eventHeaders {
      display: none;
    }
    &__eventDates {
      display: flex;
      margin: 0;
      width: 33.5%;
      font-size: 0.875rem;
      list-style: 1.375rem;
      font-weight: bold;
    }
    &__eventDetails {
      display: flex;
      font-size: 0.875rem;
      list-style: 1.375rem;
      margin: 0;
      width: 33.5%;
    }
    &__buttonDiv {
      @include flex-alignItems(center);
      width: 22%;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__btn-ticket {
      @include flex-justify(center);
      color: $secondary-color;
      background-color: $primary-color;
      border: 0;
      width: 100%;
      height: 3rem;
      border-radius: 0.25rem;
    }
  }
  @include desktop {
    @include flexDirection(row);
    justify-content: space-between;
    width: 100;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    padding-top: 2.5rem;
    &__header {
      display: flex;
      margin: 0;
    }
    &__showsActivities {
      @include flexDirection(column);
    }
    &__tabDesk {
      @include flexDirection(row);
      width: 50.25rem;
      padding-right: 10rem;
    }
    &__tabDesk-para {
      display: flex;
      width: 33.5%;
      margin: 0;
      font-size: 0.875rem;
      list-style: 1.375rem;
      color: $color-silver;
    }
    &__tourEvents {
      @include flexDirection(row);
      align-items: center;
      width: 40.25rem;
    }
  }
}
